
header {
    background: url(image/doge.png) 400px no-repeat; 
    background-size: 1400px;  
    margin-left: 20px;
    height:400px; /* give header some height to display the background image*/
    padding-top:100px;
    padding-left:30px;
}
header h{
    font-size:50px;
    color:#cd853f;
}
li{ 
    list-style-type:none;
    display: inline;
    padding: 0 20px; /* paadding: 0 on the top&bottom 20px on the left and right*/
}
li a{
    text-decoration: none;
}
li a:link{
    color:#000;
}
li a:visited{
    color:#818db3;
}
li a:hover{
    color:#333;
    text-decoration: underline;
}
li a:active{
    color:#753a30;
}
nav{
    background-color:rgb(255,245,238);
    height:50px;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px; 
}
main {
    margin: 50px;
}
#General_info {
    font-size: 40px;
    color: #818db3;
}
#Intro {
    font-size: 30px;
    font-style: none;
    margin-right: 1200px;
}
    
#Intro::first-letter{
    color: rgb(219, 23, 23, 0.491);
    font-size: 50px;

}

main h1{
    color: rgb(129,141,179);
    font-family: arial;

}
main header{
    background: none;
    background-color:beige
}

main h2{
    font-size: 40px;
    font-style: oblique;
    color: rgba(16, 16, 184, 0.43);
}
table{
    margin-top: 35px;
}
table, caption, th, td {
    border: 1px solid #000
} 
caption {
    background: rgba(138, 163, 64, 0.512);

}
th, td{
    width: 150px;
    height: 35px;
    text-align: center;
}
/*on the our pets page*/

#pets li{
    list-style-type:none;
    display:contents
    padding: 0 20px; /* paadding: 0 on the top&bottom 20px on the left and right*/
    font-size: x-large;
    margin-left: 50px;
    color: rgba(4, 8, 241, 0.499);
}

#pets img {
    height: 300px;
    width: 400px;
}


#header-for-contact p{
    font-size:22px;
    padding-right: 1000px;
    font-family:serif;
}
#header-for-contact li{
    list-style-type:circle;
    display:list-item;
    font-size: 20px;

}
legend{
    font-size: 35px;
    font-style: italic;
}
label {
    display: block;
    margin: 15px 0 0 0 ; 
}
input{
    width: 300px;
}
input[ type="radio"]{
    width: 25px;
}
textarea{
    width: 300px;
}
input[type="submit"]{
    display: block;
    margin: 20px 0 10px 0; 
    width: 100px;
}   
footer {
    height: 40px;
    background-color: rgb(129,141,179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211,218,240);
}
